@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Poppins:wght@700&family=Roboto:wght@700&display=swap');


body{
 font-family:Roboto ;
background-image: url(bro.avif);
}



.grid-conteiner{
   
font-weight: bolder;
position: relative;
left: 400px;

color: white;
gap: 30px;
display: grid;
grid-template-columns: repeat(3,200px);

}


.item{
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  transition-property: transform background-image;
  transition-duration: 3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bro.avif);
  box-shadow: 10px 7px rgba(245, 245, 245, 0.925);
 cursor: pointer;
 color: white;
}

.item:hover{
  transform: scale(1.1);
  background-image: url(me.jpg);
  box-shadow: 10px 7px green;
}

            
            