

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');



  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');


  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');





.p1 {
color: rgb(52, 156, 125);
font-weight: 400;
font-size: 30px;
text-transform: capitalize;
font-family: Roboto;
}


.p2 {

color: rgb(52, 156, 125);
font-weight: 400;
font-size: 30px;
text-transform: capitalize;
font-family: Roboto;
}



.p3 {

color: rgb(52, 156, 125);
font-weight: 400;
font-size: 30px;
text-transform: capitalize;
font-family: Roboto;
}





